@keyframes ios-page-next-to-current
  from
    transform: translate3d(100%, 0, 0)

  to
    transform: translate3d(0%, 0, 0)

@keyframes ios-page-previous-to-current
  from
    transform: translate3d(-20%, 0, 0)

  to
    transform: translate3d(0%, 0, 0)

@keyframes ios-page-current-to-previous
  from
    transform: translate3d(0, 0, 0)

  to
    transform: translate3d(-20%, 0, 0)

@keyframes ios-page-current-to-next
  from
    transform: translate3d(0, 0, 0)

  to
    transform: translate3d(100%, 0, 0)

@keyframes ios-page-element-fade-in
  from
    opacity: 0

  to
    opacity: 1

@keyframes ios-page-element-fade-out
  from
    opacity: 1

  to
    opacity: 0