// Grid
// ============================================================
@import "./vars"
@import "./function"

// Container widths
.container
  container-fixed()

  @media (max-width: $screen-min-widths.xs)
    width: 100%

  @media (min-width: $screen-min-widths.xs)
    width: $container-widths.xs

  @media (min-width: $screen-min-widths.sm)
    width: $container-widths.sm

  @media (min-width: $screen-min-widths.md)
    width: $container-widths.md

  @media (min-width: $screen-min-widths.lg)
    width: $container-widths.lg

  @media (min-width: $screen-min-widths.xl)
    width: $container-widths.xl

  @media (min-width: $screen-min-widths.xxl)
    width: $container-widths.xxl

  // Fluid container
  &.container--fluid
    width: 100%

  // Full height container
  &.container--full-height
    full-height()

// No gutters
.no-gutters
  margin-right: 0
  margin-left: 0

// Row
.row
  make-row()

// Columns
make-grid-columns()
// Extra small grid
make-grid(xs)

// Small grid
@media (min-width: $screen-min-widths.sm)
  make-grid(sm)

// Medium grid
@media (min-width: $screen-min-widths.md)
  make-grid(md)

// Large grid
@media (min-width: $screen-min-widths.lg)
  make-grid(lg)

// XLarge grid
@media (min-width: $screen-min-widths.xl)
  make-grid(xl)