@fontColor: #29bd87;
@fontSize: 16px;

.blog-list {

}

.blog-side .blog-side-form {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  /* 991px */
  .wj-content-blog-post-1-list {
    padding-right: 0;
  }

  .wj-content-blog-post-1 .wj-panel .wj-comments {
    float: left;
  }
}
