.blog-list {

}

.wj-panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.wj-panel .wj-panel-header {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.wj-panel .wj-panel-body {
  padding: 15px;
}

.wj-panel .wj-panel-body:before, .wj-panel .wj-panel-body:after {
  display: table;
  content: "";
}

.wj-panel .wj-panel-body:after {
  clear: both;
}

.blog-side .blog-side-form {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  /* 991px */
  .wj-content-blog-post-1-list {
    padding-right: 0;
  }

  .wj-content-blog-post-1 .wj-panel .wj-comments {
    float: left;
  }
}
