/* tools: 1.wj-wj-tooltip*/
.wj-tooltip {
  position: relative;
}

.wj-tooltip:after,
.wj-tooltip:before {
  position: absolute;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;

  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  transition-delay: 0ms;
}

.wj-tooltip:after,
.wj-tooltip:before {
  top: 100%;
  left: 50%;
}

.wj-tooltip:before {
  content: '';
  position: absolute;
  background: 0 0;
  border: 8px solid transparent;
  z-index: 10001;
}

.wj-tooltip:after, [data-wj-tooltip]:after {
  content: attr(data-tooltip);
}

.wj-tooltip:after {
  padding: 8px 10px;
  font-size: @fontSize;
  font-family: @fontFamily;
  line-height: 12px;
  white-space: nowrap;
  background: #383838;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
}

.wj-tooltip:hover:after,
.wj-tooltip:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
}

/*wj-tooltip-top*/
.wj-tooltip-top:before {
  margin-bottom: -11px;
  left: calc(50% - 6px);
  border-top-color: @bdColor;
}

.wj-tooltip-top:hover:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}

/*wj-tooltip-bottom*/
.wj-tooltip-bottom:before {
  margin-top: -15px;
  //left: calc(50% - 8px);
  left: 0;
  border-bottom-color: @bdColor;
}

.wj-tooltip-bottom:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wj-tooltip-bottom:hover:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}

.wj-tooltip-bottom:hover:after {
  -webkit-transform: translateX(-50%) translateY(8px);
  -moz-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}
