@fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@fontSize: 16px;

/* tools: 1.wj-wj-tooltip*/
.wj-tooltip {
  position: relative;
}

.wj-tooltip:after,
.wj-tooltip:before {
  position: absolute;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;

  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  transition-delay: 0ms;
}

.wj-tooltip:after,
.wj-tooltip:before {
  top: 100%;
  left: 50%;
}

.wj-tooltip:before {
  content: '';
  position: absolute;
  background: 0 0;
  border: 8px solid transparent;
  z-index: 10001;
}

.wj-tooltip:after, [data-wj-tooltip]:after {
  content: attr(data-tooltip);
}

.wj-tooltip:after {
  padding: 8px 10px;
  font-size: @fontSize;
  font-family: @fontFamily;
  line-height: 12px;
  white-space: nowrap;
  background: #383838;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
}

.wj-tooltip:hover:after,
.wj-tooltip:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
}

/*wj-tooltip-top*/
.wj-tooltip-top:before {
  margin-bottom: -11px;
  left: calc(50% - 6px);
  border-top-color: @bdColor;
}

.wj-tooltip-top:hover:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}

/*wj-tooltip-bottom*/
.wj-tooltip-bottom:before {
  margin-top: -15px;
  //left: calc(50% - 8px);
  left: 0;
  border-bottom-color: @bdColor;
}

.wj-tooltip-bottom:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wj-tooltip-bottom:hover:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}

.wj-tooltip-bottom:hover:after {
  -webkit-transform: translateX(-50%) translateY(8px);
  -moz-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

/*wj-portlet*/
.wj-portlet {
  -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #fff;
  margin-bottom: 2.2rem;

  .wj-portlet--head {
    display: table;
    width: 100%;
    padding: 0 2.2rem;
    height: 5.1rem;

    .wj-portlet--head-caption {
      display: table-cell;
      vertical-align: middle;
      text-align: left;

      .wj-portlet--head-title {
        display: table;
        table-layout: fixed;
        height: 100%;

        .wj-portlet--head-text {
          display: table-cell;
          vertical-align: middle;
          font-size: 1.3rem;
          font-weight: 500;
          font-family: @fontFamily;

          small {
            display: inline-block;
            padding-left: 5px;
            font-size: 1rem;
            font-weight: 300;
            font-family: @fontFamily;
          }
        }
      }
    }
  }

  .wj-portlet--body {
    padding: 2.2rem 2.2rem;
  }

  .wj-portlet--head {
    border-bottom: 1px solid #ebedf2;

    .wj-portlet--head-caption {
      .wj-portlet--head-title {
        .wj-portlet--head-text {
          color: #575962;
          small {
            color: #afb2c1;
          }
        }
      }
    }
  }

  .wj-portlet--body {
    color: #575962;
  }
}
