@import "../core/vars"

.default
  a:not(.btn),
  a:not(.tag-item)
    color: #333

    &:hover
      color: $themeColor

  .app-main
    background: #fff

  .app-footer
    background: rgba(0, 0, 0, 0.7)
    color: #fff

  .app-header-bar.app-header-bar--menu
    background: rgba(30, 36, 42, 0.8)

    .menu-section .nav
      .nav-item
        .nav-link
          color: #fff

          &:hover,
          &.active
            color: $themeColor

  .bg-color
    background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%)

@media all and (max-width: 768px)
  .default
    .menu-section.active
      background: rgba(30, 36, 42, 0.8)
