@import "./app.less";
// ------------ B.css4语法 全局变量语法 ------------
/*:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #5867dd;
  --secondary: #ebedf2;
  --success: #34bfa3;
  --info: #36a3f7;
  --warning: #ffb822;
  --danger: #f4516c;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}*/

// ------------ D.app ------------
.app-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  padding-top: 80px;
  overflow: hidden;
  position: relative;
}

.app-content {
  flex: 1 1 auto;
  margin: 1rem;
}

.app-footer {
  display: flex;
  justify-content: center;
}

header {
  margin: 0;
  padding: 0;
  position: relative;
  flex-shrink: 0;
  box-shadow: 0 0 2.25rem #9da5ab;
  transition: all .5s .2s cubic-bezier(0.815, 1.650, 0.400, 0.680);
  &.app-header-fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateY(-100%);
  }
  &.app-scrollUp {
    transform: translateY(0);
  }
  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1rem;
  }
  .app-header-topBar {
    .px2rem(font-size, 14);
    .app-header-section {
      margin: 0;
    }
  }
  .app-header-section {
    display: flex;
    margin: .625rem 1.5rem;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    &.social-section {
      justify-content: flex-start;
    }
    &.help-section {
      justify-content: flex-end;
    }
    &.menu-section {
      flex: 3 1 auto;
      justify-content: flex-end;
    }
    &.logo-section {
      flex: 1 1 auto;
      justify-content: space-between;
      .logo {
        width: 120px;
        height: 60px;
        flex-shrink: 1;
      }
      .menu-toggle {
        display: none;
        width: 40px;
        height: 40px;
        flex-shrink: 1;
      }
    }
  }
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  &.nav-row {
    flex-direction: row;
  }
  &.nav-column {
    flex-direction: column;
  }
  .nav-dropdown {
    display: none;
    flex-flow: column;
    position: absolute;
    top: 100%;
    margin-top: .5rem;
    padding: 1rem;
    right: 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 #000;
    li {
      position: relative;
      &:after {
        content: '|';
      }
      &:last-child:after {
        content: '';
      }
    }
    &:before {
      content: '';
      position: absolute;
      background: 0 0;
      border: 8px solid transparent;
      z-index: 10001;
    }
    &:before {
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-color: #fff;
    }
  }
  &.nav-divider>li {
    position: relative;
    &:after {
      content: '|';
    }
    &:last-child:after {
      content: '';
    }
  }
  li {
    position: relative;
    .shape-container {
      position: absolute;
      top: -6px;
      left: 0;
      z-index: 1;
    }
    .shape {
      fill: transparent;
      width: 60px;
      height: 40px;
      stroke-width: 2px;
      stroke: #fff;
      stroke-linecap: round;
      stroke-dasharray: 0, 240;
      stroke-dashoffset: 241px;
    }
    &:hover .shape {
      animation: draw .5s linear forwards;
    }
    &.dropdown {
      .nav-link {
        position: relative;
        &:after {
          content: '';
          display: inline-flex;
          vertical-align: middle;
          margin-left: 2px;
          border: 4px solid transparent;
          border-top-color: @bdColor;
        }
      }
      &:hover,
      &.open {
        .nav-dropdown {
          display: flex;
        }
      }
    }
    a {
      position: relative;
      padding: 0 .75rem;
      z-index: 2;
    }
  }
}

@media all and (max-width: 768px) {
  .app-page {
    transition: all 0.3s cubic-bezier(0.815, 1.65, 0.4, 0.68);
    &.app-side-menu-active {
      transform: translateX(-280px);
    }
  }
  .app-main {
    flex-flow: column;
  }
  .app-main>article,
  .app-main>nav,
  .app-main>aside {
    order: 0;
    width: auto;
    flex: auto;
  }
  header {
    .app-header-section {
      &.menu-section {
        margin: 0;
        width: 280px;
        align-items: flex-start;
        position: fixed;
        top: 60px;
        right: -280px;
        bottom: 0;
        z-index: 2018;
        transition: all 0.3s cubic-bezier(0.815, 1.650, 0.400, 0.680);
        .app-nav {
          flex: 1;
          z-index: 2019;
          .nav {
            flex-direction: column;
            li>a {
              display: flex;
              padding: .75rem .75rem;
              border-bottom: 1px solid #ddd;
            }
          }
          .shape-container {
            display: none;
          }
        }
        &.active {
          right: 0;
          &:before {
            content: '';
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            z-index: 2018;
            background: rgba(0, 0, 0, 0.5);
            transition: all 0.3s cubic-bezier(0.815, 1.650, 0.400, 0.680);
          }
        }
      }
      &.logo-section {
        .logo {
          width: 80px;
          height: 40px;
        }
        .menu-toggle {
          display: flex;
        }
      }
    }
  }
}

@keyframes draw {
  0% {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 0, 240;
    stroke-dashoffset: 240px;
  }
  100% {
    stroke: @themeColor;
    stroke-width: 2px;
    stroke-dasharray: 240, 0;
    stroke-dashoffset: 240px;
  }
}