@fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@fontSize: 14px;
@color: #24292e;
@bgColor: #fff;


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: @fontFamily;
  font-size: @fontSize;
  line-height: 1.5;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: scrollbar;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  color: @color;
  background-color: @bgColor;
}

html a:active,
html a:focus,
body a:active,
body a:focus {
  text-decoration: none !important;
}

.wj-page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.wj-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &.wj-container--full-height {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.wj-stack {
  display: block;
  width: 100%;
  height: 100%;
}


@media (min-width: 993px){
  .wj-header .wj-header-content {
    padding: 0;
    position: relative;
    z-index: 1;
    background: #3d3b56;
    height: 70px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .wj-page {
    .wj-page-container {
      padding: 0 30px;
    }
  }

  .wj-stack.wj-stack-desktop {
    display: table;
    table-layout: fixed;
    &.wj-stack-ver > .wj-stack-item {
      display: table-cell;
      vertical-align: top;
      height: 100%;
    }
  }

  .wj-header-menu {
    display: table;
    width: auto;
    margin: 0;
    height: 100%;

    .wj-menu-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      display: table-row;
      height: 100%;

      > .wj-menu-item {
        height: 100%;
        padding: 0 20px;
        display: table-cell;
        vertical-align: middle;

        .wj-menu-link {
          display: table;
          table-layout: fixed;
          text-decoration: none;
          position: relative;
          vertical-align: middle;
          height: 100%;
          outline: none !important;
          cursor: pointer;

          .wj-menu-link-text {
            display: table-cell;
            height: 100%;
            width: 100%;
            padding: 0;
            vertical-align: middle;
          }

          .wj-menu-link-text {
            font-weight: 400;
            font-size: 1.07rem;
            text-transform: initial;
          }
        }
      }
    }
  }
}

