@import "../core/vars"

@font-face {
  font-family: "Wallpoet"
  font-style: normal
  font-weight: 400
  src: local("Wallpoet"), url("../../fonts/Wallpoet/Wallpoet-Regular.ttf")
}

.app-layout {
  display: flex
  flex-direction: column
  min-height: 100vh

  .app-header {
    margin: 0
    padding: 0
    height: $header-height + 0px
    position: sticky
    top: 0
    left: 0
    right: 0
    z-index: 2
    flex-shrink: 0
    box-shadow: 0 0 1px #9da5ab
    transition: all 0.5s 0.2s

    .app-header-content {
      padding: 10px 0
      display: flex
      align-items: center
      justify-content: space-between
    }

    .app-header-logo {
      height: 60px

      .logo {
        height: 100%
        display: flex
        align-items: center
        color: #333

        .logo-text {
          font-family: "Wallpoet", cursive, Arial
          font-size: 44px
        }

        .logo-img {
          width: 60px
        }
      }

      .menu-toggle-btn {
        display: none
      }
    }
  }

  .app-main {
    flex: 1 1 auto
    padding: 20px 0 20px
  }

  .app-footer {
    background: #fff
    box-shadow: 0 0 1px #9da5ab

    .app-footer-content {
      padding: 1rem 0
      display: flex
      align-items: center
      justify-content: space-between

      .app-footer-logo {
        color: #7b7b7b

        .logo-letter {
          color: #7b7b7b
        }
      }

      .app-header-section {
        display: flex
      }
    }
  }
}

// nav
.menu-nav {
  display: flex
  margin: 0
  padding: 0
  list-style: none

  > li {
    display: flex
    align-items: center
    padding: 0 0.5rem

    .menu-link {
      padding: 0.5rem 0.875rem
      color: #7b7b7b

      &.router-link-active {
        transform: rotateX(90deg) translateY(-20px)

        &:before {
          background: lighten(#e8e8e8, 12%)
          color: #3699ff
        }
      }
    }
  }
}

@media (max-width: 468px) {
  .app-layout {
    .app-header {
      .app-header-logo {
        flex: 1
        display: flex
        justify-content: space-between
        align-items: center

        .menu-toggle-btn {
          display: inline-block
        }

        + .nav {
          display: none
        }
      }
    }
  }
}