<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-常用指令v-for</title>
    <base href="../../../assets/">
</head>
<body>
<div id="app">
    <p v-for="(score,index) in scores">
        {{ index + ':' + score }}
    </p>

    <p v-for="d in dog">
        {{ d }}
    </p>
</div>

<script src="global/plugins/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            scores: [100, 90, 87, 75],
            dog: {name: '旺财', age: 8, height: 1.44}
        }
    });
</script>
</body>
</html>