<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection"
          content="telephone=no">
    <meta content="By Weijuer"
          name="description" />
    <meta content="Weijuer"
          name="author" />
    <meta content="yes"
          name="apple-mobile-web-app-capable">
    <meta content="black"
          name="apple-mobile-web-app-status-bar-style">
    <link rel="icon"
          href="<%= BASE_URL %>favicon.ico">
</head>

<body>
    <div id="mobile"></div>
</body>

</html>