/*
 * app v1.0
 * author: Weijuer
 * date: 2019-1-14
 */
@import "./core/vars"

// ------------ A.app ------------
.app-page
  display: flex
  flex-direction: column
  min-height: 100vh

.app-main
  width: 100%
  padding-top: ($header-height + 20px)
  display: flex
  flex: 1 1 auto
  overflow: hidden
  position: relative

.app-content
  flex: 1 1 auto
  margin: 1rem

.app-footer
  display: flex
  justify-content: center

.app-header
  margin: 0
  padding: 0
  position: fixed
  left: 0
  right: 0
  z-index: 2
  flex-shrink: 0
  box-shadow: 0 0 2.25rem #9da5ab
  transition: all 0.5s 0.2s cubic-bezier(0.815, 1.65, 0.4, 0.68)

  &.app-header-fixed
    transform: translateY(-100%)

  &.app-scrollUp
    transform: translateY(0)

  .app-header-content
    display: flex

  .app-header-bar--tool
    font-size: 0.875rem

    .app-header-section
      margin: 0

  .app-header-section
    display: flex
    margin: 0
    flex: 1 1 auto
    justify-content: center
    align-items: center

    &.social-section
      justify-content: flex-start

    &.help-section
      justify-content: flex-end

    &.menu-section
      flex: 3 1 auto
      justify-content: flex-end

    &.logo-section
      flex: 1 1 auto
      justify-content: space-between

      .menu-toggle
        display: none
        width: 30px
        height: 30px
        color: #fff

        .icon-menu-toggle
          width: 100%
          height: 100%

.nav
  display: flex
  margin: 0
  padding: 0
  list-style: none

  &.nav-row
    flex-direction: row

  &.nav-column
    flex-direction: column

  .nav-dropdown
    display: none
    flex-flow: column
    margin-top: 0.5rem
    padding: 1rem
    position: absolute
    top: 100%
    left: 50%
    z-index: 2019
    background: #fff
    border-radius: 4px
    box-shadow: 0 0 6px 0 #000
    transform: translateX(-50%)

    &:before
      content: ""
      position: absolute
      background: 0 0
      border: 8px solid transparent
      z-index: 10001

    &:before
      top: -1rem
      left: 50%
      transform: translateX(-50%)
      border-bottom-color: #fff

  &.nav-divider > li
    position: relative

    &:after
      content: "|"

    &:last-child:after
      content: ""

  .nav-item
    position: relative

    .shape-container
      position: absolute
      top: -6px
      left: 0
      z-index: 1

    .shape
      fill: transparent
      width: 60px
      height: 40px
      stroke-width: 2px
      stroke: #fff
      stroke-linecap: round
      stroke-dasharray: 0, 240
      stroke-dashoffset: 241px

    &:hover .shape
      animation: draw 0.5s linear forwards

    &.dropdown
      .nav-link
        position: relative

        &:after
          content: ""
          display: inline-flex
          vertical-align: middle
          margin-left: 2px
          border: 4px solid transparent
          border-top-color: @bdColor

      &:hover,
      &.open
        .nav-dropdown
          display: flex

    a
      position: relative
      padding: 0 0.75rem
      z-index: 2

@media all and (max-width: 768px)
  .app-page
    transition: all 0.3s cubic-bezier(0.815, 1.65, 0.4, 0.68)

    &.app-side-menu-active
      transform: translateX(-280px)

  .app-main
    flex-flow: column
    padding: 80px 0 15px

  .app-main > article,
  .app-main > nav,
  .app-main > aside
    order: 0
    width: auto
    flex: auto

  .app-header
    .app-header-section
      margin: 0.25rem 0

      &.menu-section
        margin: 0
        width: 260px
        height: 100vh
        align-items: flex-start
        position: fixed
        top: 48px
        right: -280px
        bottom: 0
        z-index: 2018
        transition: all 0.3s ease-in-out

        .app-nav
          flex: 1
          z-index: 2019

          .nav
            flex-direction: column

            li > a
              display: flex
              padding: 0.75rem 0.75rem
              border-bottom: 1px solid #ddd

          .shape-container
            display: none

        &.active
          right: 0

          &:before
            content: ""
            width: 100vw
            height: 100vh
            position: fixed
            top: 48px
            left: 0
            right: 0
            bottom: 0
            margin: 0
            z-index: 2017
            background: rgba(0, 0, 0, 0.5)
            transition: all 0.3s cubic-bezier(0.815, 1.65, 0.4, 0.68)

      &.logo-section
        .logo
          width: 160px
          height: 40px

        .menu-toggle
          display: flex

@keyframes draw
  0%
    stroke: #fff
    stroke-width: 2px
    stroke-dasharray: 0, 240
    stroke-dashoffset: 240px

  100%
    stroke: @themeColor
    stroke-width: 2px
    stroke-dasharray: 240, 0
    stroke-dashoffset: 240px
