/*vue*/
[v-cloak] { display: none; }

.profile-sidebar {
    float: left;
    width: 300px;
    margin-right: 20px
}

.profile-content {
    overflow: hidden
}

.profile-sidebar-portlet {
    padding: 30px 0 0!important
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px
}

.profile-userbuttons .btn {
    margin-right: 5px
}

.profile-userbuttons .btn:last-child {
    margin-right: 0
}

.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px
}

.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7
}

.profile-usermenu ul li:last-child {
    border-bottom: none
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 16px
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px
}

.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7
}

.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 800;
    text-align: center
}

.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600
}

.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px
}

.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px
}

.profile-desc-link a {
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1
}

@media (max-width: 991px) {
    .profile-sidebar {
        float:none;
        width: 100%!important;
        margin: 0
    }

    .profile-sidebar>.portlet {
        margin-bottom: 20px
    }

    .profile-content {
        overflow: visible
    }
}


.search-content-2 .search-container>ul .search-item>.search-content .search-counter-label,.search-content-2 .search-container>ul .search-item>.search-content .search-counter-number,.search-content-4 .search-table .table-download,.search-content-4 .search-table .table-status,.search-page .search-pagination {
    text-align: center
}

.search-page .bordered {
    border: 1px solid #e7ecf1
}

.search-page .search-bar {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff
}

.search-page .search-bar input {
    border: none;
    background-color: #f3f6f9;
    color: #a0a9b4;
    height: 55px
}

.search-page .search-bar button {
    color: #fff;
    height: 55px;
    width: 130px;
    margin-left: -3px;
    margin-top: -2px
}

.search-page .search-bar .search-desc {
    margin: 0;
    color: #a0a9b4;
    font-size: 13px
}

.search-page .search-filter {
    background-color: #fff;
    padding: 40px 30px 0;
    margin-bottom: 30px
}

.search-page .search-filter>.search-label {
    color: #a0a9b4;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 40px
}

.search-page .search-filter>.search-label:first-child {
    margin-top: 0
}

.search-page .search-filter input,.search-page .search-filter select {
    color: #727f89;
    font-weight: 700;
    font-size: 14px
}

.search-page .search-filter button {
    margin: 40px 0;
    padding: 15px 0
}

.search-page .search-filter .search-filter-divider {
    display: block;
    height: 1px
}

.search-page .search-pagination>.pagination>li>a {
    margin: 0 3px;
    border: none;
    background: #ddd;
    color: #666
}

.search-page .search-pagination>.pagination>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #3598DC
}

.search-page .search-pagination>.pagination>.page-active>a {
    background-color: #3598DC;
    color: #fff
}

.search-content-1 .search-container,.search-content-2 .search-container {
    background-color: #fff;
    margin-bottom: 20px;
}

.search-page .search-pagination.pagination-rounded>.pagination>li>a {
    border-radius: 50%!important
}

.search-content-1 .search-container>ul {
    padding: 0 20px 20px;
    margin-bottom: 0
}

.search-content-1 .search-container>ul .search-item {
    list-style: none;
    padding: 20px 0;
    border-bottom: 1px solid;
    border-color: #f4f6f8
}

.search-content-1 .search-container>ul .search-item>a>img {
    width: 100px;
    float: left;
    margin-right: 20px
}

.search-content-1 .search-container>ul .search-item>.search-content {
    padding-left: 120px
}

.search-content-1 .search-container>ul .search-item>.search-content>.search-title {
    font-size: 20px;
    margin: 10px 0 20px;
    font-weight: 600
}

.search-content-1 .search-container>ul .search-item>.search-content>.search-title>a {
    color: #4e5a64
}

.search-content-1 .search-container>ul .search-item>.search-content>.search-title>a:hover {
    text-decoration: none;
    color: #49a7fa
}

.search-content-1 .search-container>ul .search-item>.search-content>.search-desc {
    color: #a0a9b4;
    font-size: 13px;
    margin: 0
}

.search-content-1 .search-container>ul .search-item:last-child {
    border: none
}
