// ============================================================
// WUI variables
// ============================================================

// Grid
// ============================================================
$grid-breakpoints ?= {
  xs: 468px,
  sm: 768px,
  md: 992px,
  lg: 1280px - 16px,
  xl: 1600px - 16px,
  xxl: 1920px - 16px
}
$grid-gutter ?= 8px
$grid-gutter-width ?= 30px
$grid-columns ?= 12
$grid-gutters ?= {
  xs: ($grid-gutter / 4),
  sm: ($grid-gutter / 2),
  md: $grid-gutter,
  lg: ($grid-gutter * 2),
  xl: ($grid-gutter * 3),
  xxl: ($grid-gutter * 4)
}
// == Container sizes
$container-widths ?= {
  xs: 468px + $grid-gutters.xs,
  sm: 720px + $grid-gutters.sm,
  md: 940px + $grid-gutters.md,
  lg: 1140px + $grid-gutters.lg,
  xl: 1340px + $grid-gutters.xl,
  xxl: 1540px + $grid-gutters.xxl
}
$container-max-widths ?= {
  md: $grid-breakpoints.md,
  lg: $grid-breakpoints.lg,
  xl: $grid-breakpoints.xl,
  xxl: $grid-breakpoints.xxl
}
$screen-min-widths ?= {
  xs: $grid-breakpoints.xs,
  sm: $grid-breakpoints.sm,
  md: $grid-breakpoints.md,
  lg: $grid-breakpoints.lg,
  xl: $grid-breakpoints.xl,
  xxl: $grid-breakpoints.xxl
}
$themes = {
  primary: #2980b9,
  success: #34bfa3,
  warning: #f1c40f,
  danger: #e74c3c,
  info: #5578eb,
  metal: #c4c5d6,
  dark: #282a3c,
  light: #fff,
  brand: #2ecc71,
  focus: #8e44ad
}

$themeColor = #2ecc71;
$bgColor = rgba(30, 36, 42, 0.8)
$header-height = 80;