@import "../core/vars"

makeThemeText()

.default
  a:not(.btn),
  a:not(.tag-item)
    color: #333

    &:hover
      color: $themeColor

  .app-main
    background: $bgColor

  .app-footer
    background: $themeBgColor
    color: #fff

    .app-footer-section
      .btn-link
        color: #fff
        
        &:hover
          color: $themeColor

  .app-header-bar.app-header-bar--menu
    background: $themeBgColor

    .menu-section .nav
      .nav-item
        .nav-link
          color: #fff

          &:hover,
          &.active
            color: $themeColor

  .bg-color
    background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%)

@media all and (max-width: 768px)
  .default
    .menu-section.active
      background: $themeBgColor
